.popup__container__name{
    padding: 0 0 13px 0;
    margin: 0 22px 30px 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border-top:0;
    border-left:0;
    border-right: 0;
    border-bottom:1px solid rgba(0, 0, 0, .2);
}
@media screen and (min-width:768px){
    .popup__container__name{
        margin:0 36px 30px 36px;
  }
}