.profile__edit-button {
    padding: 0;
    margin: 0 0 0 10px;
    width: 18px;
    height: 18px;
    background-image: url(../../../images/edit.svg);
    background-repeat: no-repeat;
    background-size: 7.5px 7.5px;
    background-color: transparent;
    cursor: pointer;
    background-position: center;
    border: 1px solid #ffffff;
    align-self: center;
    justify-self: left;
    color: transparent;
    flex-shrink: 0;
}

.profile__edit-button:hover {
    opacity: 0.6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width:768px) {
    .profile__edit-button {
        margin: 0 0 0 18px;
        background-size: 10px 10px;
        width: 24px;
        height: 24px;
        grid-area: edit;
    }
}