.header__logo{
    margin: 0 0 min(9.8%,41px) 27px;
    padding: 0;
    background-image: url(../../../images/logo-white.svg);
    width: 103.74px;
    height: 24.4px;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (min-width:768px){
    .header__logo{
        margin: 0 0 41px 0;
        width: 142px;
        height: 33px;
    }
  }