.popup__container {
    width: 100%;
    max-width: 282px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 0;
    padding: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    position: relative;
}

@media screen and (min-width:768px) {
    .popup__container {
        max-width: 430px;
    }
}