.profile{
    padding:0;
    margin: 0 5.9% min(11.2%,50px) 5.9%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
@media screen and (min-width:768px){
    .profile{
      margin: 0 0 6% 0;
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;
    }
  }