.element__title{
    margin: 0 0 25px 21px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;  
    text-align: left; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 79%;
}