.popup__close{
    padding: 0;
    margin: 0;
    z-index: 6;
    background-color: transparent;
    background-image: url(../../../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    width: 32px;
    height: 32px;
    border: 0;
    align-self: flex-end;
    justify-self: right;
    position: absolute;
    cursor: pointer;
    top: -40px;
    right: -40px;
    outline:none;
}

.popup__close:hover {
    opacity: 0.6;
}
