.popup__container-close {
    padding: 0;
    margin: 0;
    z-index: 6;
    background-color: transparent;
    background-image: url(../../../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    width: 20px;
    height: 20px;
    border: 0;
    align-self: flex-end;
    justify-self: right;
    position: absolute;
    cursor: pointer;
    top: -36px;
    right: 0;
}

.popup__container-close:hover {
    opacity: 0.6;
}

@media screen and (min-width:768px) {
    .popup__container-close {
        width: 32px;
        height: 32px;
        top: -40px;
        right: -40px;
    }
}