.profile__add-button {
    padding: 0;
    margin: 0;
    width: 282px;
    height: 50px;
    align-self: center;
    justify-self: right;
    background-image: url(../../../images/add.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 2px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    color: transparent;
    flex-shrink: 0;
}

.profile__add-button:hover {
    opacity: 0.6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width:768px) {
    .profile__add-button {
        background-image: url(../../../images/add.svg);
        background-size: 22px 22px;
        align-self: center;
        width: 150px;
        height: 50px;
    }
}