.profile__add-button{
    padding: 0;
    margin: 0;
    width: 282px;
    height: 50px;
    align-self:center; 
    justify-self: right;   
    background-image: url(../../../images/add-big.svg);
    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    border: 0;
    color: transparent;
}
.profile__add-button:hover{
    opacity: 0.6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width:768px){
    .profile__add-button{
        background-image: url(../../../images/add-small.svg);
        align-self: center;
        width: 150px;
        height: 50px;
    }
  }