.profile__description {
    padding: 0;
    margin: 0;
    font-family: 'Inter', 'Suisse Intl', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 70%;
    align-self: center;
}

@media screen and (min-width:768px) {
    .profile__description {
        margin: 5px 0 0 0;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        align-self: flex-start;
        grid-area: description;
    }
}