.profile__title {
    padding: 0;
    margin: 0 0 14px 26px;
    font-family: 'Inter', 'Suisse Intl', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
    align-self: baseline;
    align-content: center;
}

@media screen and (min-width:768px) {
    .profile__title {
        margin: 0;
        font-size: 42px;
        line-height: 48px;
        text-align: left;
        grid-area: edit;
        max-width: 38vw;
    }
}