.element__image {
    padding: 0;
    margin: 0 0 25px 0;
    width: 282px;
    height: 282px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
}

.element__image:hover {
    cursor: pointer;
}