.form__input {
    padding: 0 0 4px 0;
    margin: 0 auto 30px auto;
    width: 83.5%;
    font-family: 'Inter', 'Suisse Intl', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    align-self: flex-start;
}
.form__input:last-child{
    margin-bottom: 48px;
}