.profile__avatar{
    padding: 0;
    margin: 0 auto 26px auto;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}
@media screen and (min-width:768px){
    .profile__avatar{
      margin: 0;
      grid-area: img;
    }
  }