@import url(../vendor/normalize.css);
@import url(../fonts/Inter/inter.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__background/popup__background.css);
@import url(../blocks/popup__container/popup__container.css);
@import url(../blocks/popup__container/__title/popup__container__title.css);
@import url(../blocks/popup__container/__description/popup__container__description.css);
@import url(../blocks/popup__container/__name/popup__container__name.css);
@import url(../blocks/popup__container/__save/popup__container__save.css);
@import url(../blocks/popup__container/__close/popup__container__close.css);

