.popup__container-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 0;
    margin: 5px 6.8% 75px 6.8%;
}
@media screen and (min-width:768px){
    .popup__container-title{
        margin:2px 0 54px 36px;
        font-size: 24px;
        line-height: 29px;
  }
}